<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Minicurso Angular JS</title>
  
 <!-- ANGULAR JS, boa pratica importar o angular 1-->  
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-route.min.js"></script>
  <script type="text/javascript" src="js/angular-resource.min.js"></script>
  <script type="text/javascript" src="js/angular-locale_pt-br.js"></script>
  <!--script type="text/javascript" src="js/jquery-2.1.1.min.js"></script-->  

    <!-- APLICATION -->
  <script>document.write('<base href="' + document.location + '" />');</script>
  <script src="app.js"></script>    
  <script src="controller/questaoController.js"></script>
  <script src="service/questaoService.js"></script>  
   <script src="service/utilService.js"></script>  
   <script src="controller/utilController.js"></script>
 
  <!-- STYLE -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.png">
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>

</head>

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation" ng-controller="utilController">
	<ul class="nav nav-pills pills">
		<li><a href="#questoes" ng-click="limparMensagens()">Lista Questoes</a></li>
		<li><a href="#questao" ng-click="limparMensagens()">Adicionar Questao </a></li>		
	</ul>	
</nav>

<div class="container">	
	<div class="row clearfix div-interna">
		<div class="col-md-12 column">
		 
			<div>
				<div class="page-header">
					<h1>GERENCIADOR DE QUESTOES <small>AngularJS</small></h1>
				</div>
				<div class="alert alert-dismissable alert-success" ng-show="msgIncluido" >
					</h4>Cadastro realizado com sucesso!!				 
				</div>
				<div class="alert alert-dismissable alert-warning" ng-show="msgExcluido">
					</h4>Exclusao realizada com sucesso!!
				</div>
			</div>
			<div class="jumbotron jumbotron-limit">				
				<ng-view/>				
			</div>		
	</div>
</div>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-bottom" role="navigation"></nav>
</body>
</html>
