 <form ng-submit="adicioanarPessoa()" ng-controller="pessoaController">
	  <div class="form-group">
		 <label>Nome</label>
		 	<input type="text" class="form-control" ng-model="nome">
		 <label>Telefone</label>
		 	<input type="text" class="form-control" ng-model="telefone">
		 <label>Endereco</label>
		 	<input type="text" class="form-control" ng-model="endereco">		 	
		 <input class="btn btn-default" type="submit" value="Incluir" />		 	
		 <a class="btn btn-ttc" ng-click="limparMensagens()" href="#/agenda" >Cancelar</a>
	  </div>
  </form>